services:
  ignition:
    image: inductiveautomation/ignition:8.3
    container_name: ignition-tfpl
    ports:
      - "8088:8088"
    environment:
      - ACCEPT_IGNITION_EULA=Y
      - GATEWAY_ADMIN_PASSWORD=admin
      - GATEWAY_ADMIN_USERNAME=admin
      - IGNITION_EDITION=standard
    volumes:
      # Persist data so you don't lose your API token between restarts
      - ignition:/usr/local/bin/ignition/data

volumes:
  ignition:
    name: ignition-tfpl
