services:
  ignition:
    image: inductiveautomation/ignition:8.3.2
    container_name: ignition-tfpl
    ports:
      - "8088:8088"
    environment:
      - ACCEPT_IGNITION_EULA=Y
      - GATEWAY_ADMIN_PASSWORD=password123
      - GATEWAY_ADMIN_USERNAME=admin
      - IGNITION_EDITION=standard
    volumes:
      - ./assets/ignition.gwbk:/restore.gwbk
    post_start:
      - command: /usr/local/bin/ignition/gwcmd.sh -s /restore.gwbk -y
      - command: /usr/local/bin/ignition/gwcmd.sh -r
