name: Index

on:
  push:
    branches:
      - main
    paths:
      - 'internal/**'
  workflow_dispatch:

permissions:
  contents: write
  id-token: write
  pages: write
  pull-requests: write
  security-events: write

jobs:
  testing:
    uses: ./.github/workflows/testing.yaml
    secrets: inherit

  quality:
    uses: ./.github/workflows/quality.yaml
    secrets: inherit

  ignition:
    needs: [testing, quality]
    uses: ./.github/workflows/ignition.yaml
    secrets: inherit

  release:
    needs: ignition
    uses: ./.github/workflows/release.yaml
    secrets: inherit

  webpage:
    needs: release
    uses: ./.github/workflows/webpage.yaml